#all-todos-screen {
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
}

#all-todos-screen > #all-todos {
  height: auto;
  width: 60%;
  margin: auto;
  /* border: 1px solid red; */
}

#all-todos-screen > #all-todos > .todo {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 5px;
  margin: 20px 0;
  border: 1px solid rgb(226, 226, 226);
}
