#screen {
  height: 100vh;
  width: 100%;
  /* border: 1px solid grey; */
}

#screen > #login {
  height: auto;
  width: 40%;
  margin: auto;
  margin-top: 180px;
  padding: 20px 20px;
  border: 1px solid grey;
}

#screen > #login > #login-header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#screen > #login > #login-header > h3 {
  font-size: 25px;
}
#screen > #login > #login-main {
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
}

#screen > #login > #login-main > form {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

#screen > #login > #login-main > form > .fields {
  height: 35px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

#screen > #login > #login-main > form > .fields > label {
  font-size: 18px;
  font-weight: 600;
}

#screen > #login > #login-main > form > .fields > input {
  height: 95%;
  width: 60%;
  outline: none;
}

#screen > #login > #login-main > form > button {
  padding: 6px 25px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid grey;
}
